body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
header{
    margin-top: 30px;
}
header .nav{
    min-height: 80px;
    overflow: hidden;
    background: #ffffff;
}

header .logo h2, 
header .logo span, 
header .logo p{
    font-size: 16px;
    display: inline-block;
    margin: 0;
}

header .logo h2{
    font-weight: 800;
    text-transform: uppercase;
}
header .logo .planet{
    color: #bfbfbf;
}
header .logo p{
    color: #777777;
}
header .menu {
    padding: 0;
}

header .menu a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 0 30px;
}

header .menu a div span{
    font-weight: 600;
}
header .menu .color-1{ background: greenyellow;}
header .menu .color-2{ background: seagreen;}
header .menu .color-3{background: darkolivegreen ;}
header .menu .color-1:hover{ background: #85C712;}
header .menu .color-2:hover{ background: #1A643A;}
header .menu .color-3:hover{background: #374D13 ;}

.slider{
    margin-bottom: 40px;
}

.slider .col{
    padding: 0;
}

.acerca-de{
    padding: 30px;
    margin-bottom: 40px;
}

.acerca-de .foto{
    text-align: center;
}

.acerca-de .foto img{
    margin-bottom: 30px;
}
.acerca-de .foto .nombre{
    color: #54545454;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}
.acerca-de .info .titulo{
    color: olivedrab;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px; 
}

.acerca-de .info .resumen{
    letter-spacing: 1px;
}

.acerca-de .info .label{
    font-size: 18px;
    font-weight: 600;
    color: olivedrab;
    margin-bottom: 10px;
}

.acerca-de .info .progress{
    background: #123613;
    border-radius: 0px;
    margin-bottom: 15px;
}

.acerca-de .info .progress-bar{
    height: 25px;
    background: #899B61;
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
}

/*Portafolio*/
.portafolio{
    background: #ffffff;
    border-top: 50px solid olivedrab;
    padding:0 20px;
    margin-bottom: 40px;
}
.portafolio .titulo{
    text-align: center;
    padding: 40px 0;
    color: #1A643A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
}

.portafolio .galeria .contenedor-imagen{
    margin-bottom: 40px;
    max-height: 180px;
    overflow: hidden;
}
.portafolio .galeria .contenedor-imagen a {
    display: inline-block;
    background: olivedrab;
}

.portafolio .galeria .contenedor-imagen:hover img{
opacity: .7;
}

.portafolio .modal-dialog{
    width: 100%;
    height: 100%;
    max-height: 100%;
}
/*Contacto*/
.contacto{
    padding: 40px 0;
    border-top: 1px solid #cbcbcb;
    margin-bottom: 40px;
}

.contacto .titulo{
    color: #005515;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.contacto .form-group {
    margin-bottom: 0;
}

.formulario input[type="text"], 
.formulario input[type="email"]{
    padding: 15px;
    border: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.formulario textarea{
    height: 150px;
    min-height: 150px;
    max-height: 250px;
    padding: 15px;
    border: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.formulario .infoCaract{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #333;
    margin-bottom: 30px;
}
.formulario .boton{
    background: #123613;
    border: none;
    padding: 7px 30px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border-radius: 3px;
}
.formulario .boton:hover{
    background: #1A643A;
}
/* Redes sociales*/
.redes-sociales{
    padding: 40px 0;
    margin-bottom: 40px;
}

.redes-sociales .fa {
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    background: #cbcbcb;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s ease;
}

.redes-sociales .twitter{background: seagreen;}
.redes-sociales .facebook{background: olivedrab;}
.redes-sociales .instagram{background: yellowgreen}
.redes-sociales .pinterest{background: mediumseagreen;}
.redes-sociales .google-plus{background: mediumspringgreen;}

